* {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: rgb(40, 116, 240);
    color: white;
    width: 100%;
    padding: 1%;
}

.logo p {
    font-size: 8px;
}

.plus {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}

.headernav .container .row {
    align-items: center;
    height: 60px;
}

.search-bar button {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
}

.search-bar button:hover {
    background-color: white;
}

.icon {
    color: rgb(21, 90, 252);
    font-size: 18px;
}

.login-buttton {
    background-color: white;
    color: rgb(21, 90, 252);
    border-radius: 0%;
}

.login-buttton:hover {
    background-color: white;
    color: rgb(21, 90, 252);
}

.navigation ul {
    text-decoration: none;
    width: 100%;
    list-style: none;
    padding: 10px;
}

.more-arrow {
    color: rgb(171, 168, 168);
    padding: 7px;
}

.cart {
    padding: 7px;
}

.navigation ul li a:hover {
        margin-inline: 28px;
    color: white;
    cursor: pointer;
}

.navigation ul li a {
    margin-inline: 28px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.snav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.snav ul {
    list-style: none;    
}
.figure{
    margin-right: 15px;
}
.snav-figure img{
    width: 70px;
    height: 70px;
}
.snav-figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}
.snav-figcaption:hover{
    color: rgb(33, 33, 33);
    cursor: pointer;
}
.snav ul li a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.main-banner {
    width: 100%;
}


.container {
    /* display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px; */
}
.card-image{
  background: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90");  
background-position: 0px bottom;
width: 230px;
    background-repeat: no-repeat;
}
.card-body{
    text-align: center;
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
}
.card-button{
    margin-top: 24px;
    background: #2874f0;
    color: #fff;
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 100;
    transition: box-shadow .2s ease;
}
/* .container .card img {
    width: 80%;
} */

.card {
    border: none;
    align-items: center;
}
.item img{
    width: 200px;
    height: 200px;
}
.item-title{
    text-align: center;
    font-size: 15px;
    opacity: .6;
    padding-top: 7px;
    color: black;
}
.item-text{
    text-align: center;
    color: #388e3c;
}
.item-brand{
color: gray;
text-align: center;
}
.owl-nav{
    position: absolute;
    width: 100%;
    top: 70px;
}
.owl-prev{
    position: inherit;
    float: left;
    left: -30px;
}
.owl-next{
    position: inherit;
    float: right;
    right: -30px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    background-color: rgb(23, 35, 55);
    padding: 45px;
    margin-top: 50px;
    text-align: left;
}

.list h2,
p {
    line-height: 2;
    color: white;
    display: block;
    font-weight: 400;
    font-size: 12px;
}

.list p:hover {
   border-bottom: 2px solid white;
    border-radius: 5px;
}
/* .item{
    width: 35%;
} */

.carousel-item{
    width: 100%;
    display: flex;
    flex-direction: row;
}